<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG5i6Omm8s-E-lsOrbYWjLoN_JFWe-TJU</string>
	<key>GCM_SENDER_ID</key>
	<string>303662826191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.datemate</string>
	<key>PROJECT_ID</key>
	<string>datemate-3d69b</string>
	<key>STORAGE_BUCKET</key>
	<string>datemate-3d69b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303662826191:ios:37a72adcc1230628a9adba</string>
</dict>
</plist>